common: &COMMON
  redis_url: http://localhost:6379
  wolfcastle_url: http://localhost:4000/scrape
  rdb_url: localhost
  rdb_port: 28015
  rdb_db_name: memoriae
development:
  <<: *COMMON
test:
  <<: *COMMON
production:
  <<: *COMMON

