form.note {
  textarea.hidden {
    display: none;
  }

  .editor-container {
    float: left;
    position: relative;
    width: 50%;
    height: 600px;
    margin: 0 25px;

    #note-editor {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .preview {
    width: 45%;
    float: left;
  }
}
