#actions {
  a.add_button {
    border-radius: 5px;
    padding: 5px 10px;
    background: $nephritis;
    color: $white;
    text-decoration: none;
  }
  a:hover.add_button {
    background: $emerald;
  }
}

form.formtastic {
  input[type=submit] {
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    background: $nephritis;
    color: $white;
    text-decoration: none;
  }
}
