body {
  font-family: $georgia;
  font-size: 20px;
  line-height: 1.5em;
}

body a {
  font-family: $helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helvetica;
}

header {
  h1 {
    font-size: 24px;
  }

  nav {
    font-family: $helvetica;
    font-size: 1.0em;
  }
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

footer {
  font-family: $helvetica;
}
