<header>
  <div class="container">
    <a href="#" {{action goToIndex}}><h1>Memoriae</h1></a>
    <nav>
      <ul>
        <li><a href="#" {{action goToIndex}}>Articles</a></li>
        <li><a href="#">Comments</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  {{outlet}}
</div>

<footer>
  <div class="container">
    ©2013 <a href="https://github.com/mathias">Matt Gauger</a>.
  </div>
</footer>
