.container {
  #actions {
    @include shift(10);
    text-align: right;
  }

  article {
    footer {
      margin-bottom: 1em;

      ul {
        list-style: none;
      }
    }
    .entry-content {
      @include span-columns(10);
      @include shift(1);
    }
  }

  #article_list {
    li {
      margin-bottom: 1em;
    }
  }
}
